<div class="footer-wrapper">
    <div class="footer-container">
       
       <div class="footer-top clearfix">
           
           <div class="footer-top-float">
               <h3>Company</h3>
               <ul>
                    <li><a href="#/about-us">About Us</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="#/careers">Careers</a></li>
               </ul>
           </div>
           
<!--
           <div class="footer-top-float">
               <h3>Developers</h3>
               <ul>
                    <li><a href="">Api</a></li>
                    <li><a href="">Api</a></li>
                    <li><a href="">Api</a></li>
               </ul>
           </div>
           
-->
           <div class="footer-top-float">
               <h3>Products</h3>
               <ul>
                    <li><a href="">Customers Relations Management</a></li>
                    <li><a href="">Loyalty Programs</a></li>
                    <li><a href="">Short Message Service</a></li>
                    <li><a href="">Bulk Message Service</a></li>
                    <li><a href="">USSD</a></li>
                    <li><a href="">Payment Gateway.</a></li>
               </ul>
           </div>
           
           <div class="footer-top-float">
               <h3>OME Technology Partners</h3>
               <p>OME  Technology  Partners  Limited  is  a  trusted  Payment  services  provider  for  over  50  clients  here  in Ghana.  We  are  driven  to  create  extraordinary  value,  efficiency  and  competitive  advantage  for  our  clients through  groundbreaking  payment  and  technological  services. From  electronic  payments,  software  product  development  to  critical  enterprise  applications,  commercial software,  Customer  Relations  Management  Applications  and  telecommunications  systems  –  OME Technology  Partners  provides  an  unmatched  combination  of  IT  investment-return  and  flawless technical  execution. </p>
           </div>
               
           
       </div>
       
       <div class="footer-bottom">
<!--           <h3>Social Media</h3>-->
            <ul class="clearfix">
                <li><a id="facebook-icon" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a id="twitter-icon" href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a id="linkedin-icon" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a id="google-icon" href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a id="youtube-icon" href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
            <span><i class="fa fa-copyright" aria-hidden="true"></i> COPYRIGHT 2017 OME Technology Partners</span>
       </div>
        
        
    </div>
</div>