<div id="homeAddCarousel" class="owl-carousel">
    <div class="item" style="background-image: url(public/images/ome-web_carouselhardware.png);">
        <div class="homeAdd-carousel-capion">
            <h2>Hardware</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusantium optio veniam obcaecati.</p>
        </div>
    </div>
    
    <div class="item" style="background-image: url(public/images/ome-web_carouselsoftware.png);">
        <div class="homeAdd-carousel-capion">
            <h2>Software</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusantium optio veniam obcaecati.</p>
        </div>
    </div>
    
    <div class="item" style="background-image: url(public/images/ome-web_carouselreports.png);">
        <div class="homeAdd-carousel-capion">
            <h2>Processing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusantium optio veniam obcaecati.</p>
        </div>
    </div>
    
    <div class="item" style="background-image: url(public/images/ome-web_carouselreports.png);">
        <div class="homeAdd-carousel-capion">
            <h2>Reports & Analytics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusantium optio veniam obcaecati.</p>
        </div>
    </div>
</div>


