<div id="navBar" class="clearfix">
   
    <div class="nav-bar-left clearfix">
        <div class="navbrand-logo">
            <div class="logo">
                <a ui-sref="root">
                    <img src="public/images/ome-web_logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="nav-routes">
            <ul>
                <li><a href="javascript:void(0)" ui-sref-active="activeSstate" class="drop-nav-link" data-nav= "navDropTab1">Products</a></li>
                <li><a href="javascript:void(0)" class="drop-nav-link" data-nav= "navDropTab2">Payment Services</a></li>
                <li><a ui-sref="product" class="drop-nav-link">Developer Zone</a></li>
            </ul>
        </div>
    </div>
    
    <div class="nav-bar-right">
        <div class="nav-auth">
            <a href="">join Now</a>
        </div>
    </div>
    
    <div id="navDropTab1" class="navbar-dropdown-wrapper clearfix">

        <div class="navbar-dropdown-content" ng-repeat="data in products.data">
            <div class="navbar-dropdown-content-img">
                <img src="public/images/{{data.logo}}" alt="">
            </div>
            <div class="navbar-dropdown-content-cap">
                <h4 id="">{{data.name}}</h4>
            </div>
            <a href="#/product/{{data.route}}"></a>
        </div>

    </div>

    <div id="navDropTab2" class="navbar-dropdown-wrapper clearfix">

        <div class="navbar-dropdown-content" ng-repeat="data in payment.data">
            <div class="navbar-dropdown-content-img">
                <img src="public/images/{{data.logo}}" alt="">
            </div>
            <div class="navbar-dropdown-content-cap">
                <h4>{{data.name}}</h4>
            </div>
            <a href="#/payment/{{data.route}}"></a>
        </div>

    </div>

</div>


