<div id="navBar" class="clearfix">
    <div class="nav-bar-left clearfix">
        <div class="navbrand-logo">
            <div class="logo">
                <a href="">
                    <img src="https://www.freelogodesign.org/img/logo-ex-4.png" alt="">
                </a>
            </div>
        </div>
        <div class="nav-routes">
            <ul>
                <li><a href="" class="drop-nav-link" data-nav= "navDropTab1">Products 1</a></li>
                <li><a href="" class="drop-nav-link" data-nav= "navDropTab2">Products 2</a></li>
                <li><a href="" class="drop-nav-link" data-nav= "navDropTab3">Products 3</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bar-right">
        <div class="nav-auth">
            <a href="">join Now</a>
        </div>
    </div>
    
    <div id="navDropTab1" class="navbar-dropdown-wrapper clearfix">
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
</div>

    <div id="navDropTab2" class="navbar-dropdown-wrapper clearfix">
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 2</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 2</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 2</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
</div>

    <div id="navDropTab3" class="navbar-dropdown-wrapper clearfix">
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 3</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 3</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 3</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
    <div class="navbar-dropdown-content">
        <div class="navbar-dropdown-content-img">
            <img src="public/images/500px-AWS.png" alt="">
        </div>
        <div class="navbar-dropdown-content-cap">
            <h4><a href="">Payment 3</a></h4>
            <p>
                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </p>
        </div>
    </div>
</div>



</div>
