<div id="navBar" class="clearfix">
    <span id="pul"><i class="fa fa-bars"></i></span>
    
    <div id="navbrandResponsiveLogo">
        <div class="logo">
            <a ui-sref="root">
                <img src="public/images/ome-web_logo.png" alt="">
            </a>
        </div>
    </div>
    
    <div id="navFloatWrapper">
        <div class="nav-bar-left clearfix">
            <div class="navbrand-logo">
                <div class="logo">
                    <a ui-sref="root">
                        <img src="public/images/ome-web_logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="nav-routes">
                <ul>
                    <li>
                    <a href="javascript:void(0)" ui-sref-active="activeSstate" id="navProducts" class="drop-nav-link" data-nav= "navDropTab1">Payment Solutions</a>
                    </li>


                    <li>
                    <a href="javascript:void(0)" class="drop-nav-link" id="navPayment" data-nav= "navDropTab2">Application Development</a>
                    </li>


                    <li><a href="" class="drop-nav-link">Market Place</a></li>
                </ul>
            </div>
        </div>
    
        <div class="nav-bar-right clearfix">
            <div class="nav-auth">
                <a href="">join Now</a>
            </div>
        </div>
    </div>
    
    <div id="navDropTab1" class="navbar-dropdown-wrapper clearfix">
        <span class="close-nav-drpdwn"><i class="fa fa-close"></i></span>

        <div class="navbar-dropdown-content" ng-repeat="data in products.data">
            <div class="navbar-dropdown-content-img">
                <img src="public/images/{{data.logo}}" alt="">
            </div>
            <div class="navbar-dropdown-content-cap">
                <h4 id="">{{data.name}}</h4>
            </div>
            <a class="nav-sub-link" href="#/payment/{{data.route}}"></a>
        </div>

    </div>

    <div id="navDropTab2" class="navbar-dropdown-wrapper clearfix">
        <span class="close-nav-drpdwn"><i class="fa fa-close"></i></span>
        
        <div class="navbar-dropdown-content" ng-repeat="data in payment.data">
            <div class="navbar-dropdown-content-img">
                <img src="public/images/{{data.logo}}" alt="">
            </div>
            <div class="navbar-dropdown-content-cap">
                <h4>{{data.name}}</h4>
            </div>
            <a class="nav-sub-link" href="#/application/{{data.route}}"></a>
        </div>

    </div>



</div>


