<div id="productsCarousel" class="owl-carousel">
    <div class="item" style="background-image: url(https://media.coindesk.com/uploads/2015/10/point-of-sale-payment-terminal.jpg);">
        <div class="product-overview-text">
            <h3>Point of Sale Device</h3>
            <p>Trusted And Secure</p>
            <a href="">Learn More</a>
        </div>
    </div>
    
    <div class="item" style="background-image: url(https://wemakewebsites.com/sites/default/files/styles/large/public/post_images/headline/Dollarphotoclub_95004142.jpg?itok=S7ZBTGrD);">
        <div class="product-overview-text">
            <h3>Online Payment Gateway</h3>
            <p>Trusted And Secure</p>
            <a href="">Learn More</a>
        </div>
    </div>
    
    <div class="item" style="background-image: url(http://www.icbio.org/images/online-payment.jpg);">
        <div class="product-overview-text">
            <h3>Mobile Money Acceptance</h3>
            <p>Trusted And Secure</p>
            <a href="">Learn More</a>
        </div>
    </div>
    
    <div class="item" style="background-image: url(https://usa.visa.com/dam/VCOM/Global%20Elements/android-images/Visa-AndroidPay-1600x900.png);">
        <div class="product-overview-text">
            <h3>QR Code (MasterPass & mVisa)</h3>
            <p>Trusted And Secure</p>
            <a href="">Learn More</a>
        </div>
    </div>
</div>
