<div class="about-us-banner">
    <div class="about-us-banner-cap clearfix">
        <div class="about-banner-left">
            <h2>We help businesses connect to their clients in a seamless way such that it becomes a lifestyle.</h2>
        </div>
        <div class="about-banner-right">
            <img src="https://www.urbanairship.com/images/front/homepage_push.png" alt="">
        </div>
    </div>
</div>


<div class="about-us-services">
    <div class="about-us-section-head">
        <h3>What we do</h3>
    </div>
    <div class="about-us-section-body clearfix">
    
    
    <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>Responsive Design</h3>
        <div class="h-10"></div>
        <p>We help businesses connect to their clients in a seamless way such that it becomes a lifestyle.</p>
    </div>
    
    
     <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>To Business</h3>
        <div class="h-10"></div>
        <p>we help you be the reason why your customer picks up their phones to do. Financial transaction.</p>
    </div>
    
    
     <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>To Individuals</h3>
        <div class="h-10"></div>
        <p>we serve as a platform of choice to facilitate your day to day electronic payments and transactions </p>
    </div>
    
     <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>One  Stop  Shop  Financial  Solutions</h3>
        <div class="h-10"></div>
        <p> We    are  well  equipped  with  modern  payment  processing  tools  that  will  help  you turn  your  Banking  Hall  into  a  payment  hub  for  both  Customers  and   non-customers </p>
    </div>
    
    <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>Instill Customer  Confidence</h3>
        <div class="h-10"></div>
        <p>we provide Real  time  transactional  notifications  on  customers’  gives  provides  confidence   And  assures  them  of  safety</p>
    </div>
    
    
    <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>Efficiency  and  Effectiveness</h3>
        <div class="h-10"></div>
        <p>Our  Enterprise  Resource  Planning  Solutions  makes  your  processes  simple  and   Increases  efficiency  and  promotes  effective  use  of  company  resources.</p>
    </div>
    
    <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>Competitive  Edge  of  Operating  24/7</h3>
        <div class="h-10"></div>
        <p>With  our Electronic  Banking  Solutions,  your  Banking  hall  never  closes  to  the  public.   Customers  are  able  to  access  their  funds  24/7.</p>
    </div>
    
    <div class="service-box">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <h3>Ease  of  Doing  Business</h3>
        <div class="h-10"></div>
        <p>We provide Mobile  Financial  Solutions  which  enables you  to  do  business  and  payments  on  the  go.</p>
    </div>
    
              
<!--
        <div class="about-us-section-body-left">
           <div class="about-us-section-body-left-cap">
               
           </div>
        </div>
        <div class="about-us-section-body-right">
            <img src="https://www.urbanairship.com/images/front/homepage_push.png" alt="">
        </div>
-->
    </div>
</div>


<div class="about-us-team">
    <div class="about-us-team-header">
        <h3>Who we are</h3>
        <p>A Team of technologically driven individuals who combine a perfect blend of local knowledge and global expertise to execute various tasks.</p>
    </div>
    
    
    <div class="about-us-team-body">
        
        <div class="about-us-team-wrap clearfix">
           
           <div class="team-member">
               <div class="team-member-img">
                   <img src="https://vignette2.wikia.nocookie.net/mafiagame/images/2/23/Unknown_Person.png/revision/latest?cb=20151119092211" alt="">
               </div>
               <div class="team-member-cap">
                   <h4>Nana Yaw Owusu Sarpong Oduro</h4>
                   <h5>CEO</h5>
                   <p>Oversees the medium to long term strategic implementation of the company’s vision an mission.</p>
               </div>
           </div>
           
           
           <div class="team-member">
               <div class="team-member-img">
                   <img src="https://vignette2.wikia.nocookie.net/mafiagame/images/2/23/Unknown_Person.png/revision/latest?cb=20151119092211" alt="">
               </div>
               <div class="team-member-cap">
                   <h4>Emmanuel Mortoo</h4>
                   <h5>CTO</h5>
                   <p>Lead visionary on all company’s technology, research and product development.</p>
               </div>
           </div>
           
           <div class="team-member">
               <div class="team-member-img">
                   <img src="https://vignette2.wikia.nocookie.net/mafiagame/images/2/23/Unknown_Person.png/revision/latest?cb=20151119092211" alt="">
               </div>
               <div class="team-member-cap">
                   <h4>Derrick Nii Odartey Lamptey</h4>
                   <h5>Lead Software Developer</h5>
                   <p>Coordinates software development with major focus on back-end applications and Application interphases.</p>
               </div>
           </div>
           
           <div class="team-member">
               <div class="team-member-img">
                   <img src="https://vignette2.wikia.nocookie.net/mafiagame/images/2/23/Unknown_Person.png/revision/latest?cb=20151119092211" alt="">
               </div>
               <div class="team-member-cap">
                   <h4>Nicholas Yeboah Ofori</h4>
                   <h5>Developer</h5>
                   <p>Coordinates software development with major focus on front-end applications.</p>
               </div>
           </div>
           
           
           <div class="team-member">
               <div class="team-member-img">
                   <img src="https://vignette2.wikia.nocookie.net/mafiagame/images/2/23/Unknown_Person.png/revision/latest?cb=20151119092211" alt="">
               </div>
               <div class="team-member-cap">
                   <h4>George Owusu Oduro</h4>
                   <h5>Business Development Officer</h5>
                   <p>Leads in sales and product development for emerging markets and new business.</p>
               </div>
           </div>
           
           
           
            
        </div>
        
    </div>
</div>

<div ng-include src="'views/includes/footer.html'">
        
</div>
