

<div class="products-bg-wrapper">

    <div class="products-bg-cap clearfix">
       
       <div class="products-bg-cap-left animated fadeInLeft">
           <h3>{{data.header}}</h3>
           <p>{{data.headerPrara}}</p>
           <a href="#/get-started" class='pulse-button'>Get Started</a>
           <a href="#/get-started" class='pulse-button pulse-transparent'>Sign Up</a>
       </div>
        
       <div class="products-bg-cap-right">
           <div class="products-bg-cap-right-img">
               <img ng-src="{{data.productsBgImg}}" alt="">
           </div>
       </div>

<!--
        <h2>{{data.bgCaptionHeader}}</h2>
        <p>{{data.bgCaptionSub}}</p>
        <a href="#/get-started/{{data.bgGetStartedRoute}}" class='pulse-button'>Get Started</a>
-->

    </div>
    
</div>

<!--<sticky-nav id="productOneSticky"></sticky-nav>-->
 
 <div class="product-overview">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
                 <img src="{{data.productOverview1Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview1Head}}</h3>
                 <p>{{data.productOverview1Para}}</p>
                 <a href="#/learn-more/{{data.overviewLearmoreRoute}}">Learn More</a>
             </div>
         </div>
     </div>
 </div>
 
 <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
 
 <div class="product-second-overview">
     
     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> {{data.productOverview2Head}} </h3>
    
                 <p>{{data.productOverview2Para}}</p>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="{{data.productOverview2Img}}" alt="">
             </div>
         </div>
     </div>
     
 </div>
 
 
 
 
 <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
 
  <div class="product-overview">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
                 <img src="{{data.productOverview3Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview3Head}}</h3>
                 <p>{{data.productOverview3Para}}</p>
                 <a href="#/learn-more/{{data.overviewLearmoreRoute}}">Learn More</a>
             </div>
         </div>
     </div>
 </div>


<div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
<!-- 
<div class="product-grid-wrapper">
    <div class="product-grid-container clearfix">
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
 
  <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
 
<!--<prducts-carosel></prducts-carosel>-->




<div ng-include src="'views/includes/footer.html'">
        
</div>