
  
<div class="spinner" ng-show="loader">
  <div class="ball"></div>
  <p>LOADING PLEASE WAIT..</p>
</div>
  

  
  
<div ng-hide="loader">
   
<div class="products-bg-wrapper" style="background: {{data.bgColor}};">

<div class="products-bg-cap clearfix">

   <div class="products-bg-cap-left animated fadeInLeft">
       <h3>{{data.header}}</h3>
       <p>{{data.headerPrara}}</p>
       <a href="" class='pulse-button'>Get Started</a>
       <a href="" class='pulse-button pulse-transparent'>Sign Up</a>
   </div>

   <div class="products-bg-cap-right">
       <div class="products-bg-cap-right-img">
           <img ng-src="{{data.productsBgImg}}" alt="">
       </div>
   </div>

</div>

</div>

<!--<sticky-nav id="productOneSticky"></sticky-nav>-->

<div class="products-intro" ng-if="data.productsintro.length > 0">
   
    <h4>Overview</h4>
    
    <p ng-repeat="pat in data.productsintro">{{pat.para}}</p>
    
</div>

<div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
 
 <div class="product-overview">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
                 <img src="{{data.productOverview1Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview1Head}}</h3>
                 <p>{{data.productOverview1Para}}</p>
<!--                 <a href="javascript:void(0)" ng-click="showVM=true">Learn More</a>-->
             </div>
         </div>
     </div>
 </div>
 
 <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
 
 <div class="product-second-overview">
     
     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> {{data.productOverview2Head}} </h3>
    
                 <p>{{data.productOverview2Para}}</p>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="{{data.productOverview2Img}}" alt="">
             </div>
         </div>
     </div>
     
 </div>
 
 
 
 
 <div class="" ng-if="data.productOverview3Head != ''" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
 </div>
 
  <div class="product-overview" ng-if="data.productOverview3Head != ''">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
                 <img src="{{data.productOverview3Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview3Head}}</h3>
                 <p>{{data.productOverview3Para}}</p>
             </div>
         </div>
     </div>
 </div>


<div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
</div>

<div class="products-intro" ng-if="data.productsBenfits != ''">
    <h4>The Business Value of ERP</h4>
    
    <p>ERPs empower employees do their jobs more efficiently by electronically linking business units. More specifically, an ERP solution:</p>
    
    <ul>
        <li>Gives a global, real-time view of data that can enable companies to address concerns proactively and improve productivity.</li>
        <li>Improves financial compliance with regulatory standards and reduces risk with its “Maker- Checker” rules</li>
        <li>Automates core business operations such as collections, orders and stock taking, and procure-to-pay processes</li>
        <li>Enhances customer service by providing one source for billing and relationship tracking.</li>
    </ul>
    
    <p>Summing up these advantages gives a total value of ERP. 
    With our ERP solution, employees have access to accurate information that enables them to make better decisions faster. Lastly, Our ERP software helps to eliminate redundant processes and systems, dramatically lowering the cost of doing business overall.</p>
    
    <p>Click the button to Request for an ERP for your business today! </p>
    
    <a class="pulse-button" href="">Requset ERP</a>
    
    
</div>

<div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
</div>
 
  <div class="home-testimonials">
    <h3>Our Top And Trusted Partners</h3>
   <testimonial-carousel></testimonial-carousel>
</div>


<!--<prducts-carosel></prducts-carosel>-->

<div ng-include src="'views/includes/footer.html'">
        
</div>
    

</div>

