<div class="home-bg-wrapper">
    
    <div class="home-bg-caption">
        <h1 class="animated rubberBand">The Future Already Happened! <br> If You Are Seeing This Now, You Still Have Time To Catch Up.</h1>
        <p></p>
        <a href="">Get Started For Free</a>
    </div>
     
</div>


<div class="home-content">
    
    <div class="home-top-intro clearfix">
       
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_online-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>Online</h4>
                <p>Increase your Businesses’ electronic payment acceptance by leveraging our secure online payment gateway</p>
            </div>
        </div>
        
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_store-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>In-Store</h4>
                <p>Maximize your store's potentials by offering swift payments for utilities, goods and services</p>
            </div>
        </div>
        
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_loyalty-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>Loyalty</h4>
                <p>Use our loyalty solution to encourage your clients to come back for more treats after you have made made a lasting on their businesses.</p>
            </div>
        </div>
        
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_dataanalytics-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>Data & Analytics</h4>
                <p>Examine huge data sets and draw favourable conclutions using our smart analytic tools</p>
            </div>
        </div>
        
    </div>
    
    <div class="home-section-wrapper">
        <div class="home-section-content clearfix">
           
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_partnership-icon.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Partnership</span>
                    <p>Let's work together</p>
                </div>
                <a href="javascript:void(0)" ng-click="showPop1=true;showPop=false;showPop2=false;showPopup4=false">learn more</a>
                
                 <div class="home-learn-more-popUp animated zoomIn" ng-show="showPop1">
                    <span class="hmlpClose" ng-click="showPop1=false"><i class="fa fa-close"></i></span>
                    <div class="home-learn-more-popUp-body">
                        <div>
                            <p>As our name depicts, We are a partner company to every business which uses any of our solutions or expertise to achieve desired results.
                            We work with you to solve the most complex problems with simple tools and solutions we offer. Our relationship with other businesses tend to be symbiotic causing parallel growth in revenue among various industry players.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_expert-icon.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Expert Team</span>
                    <p>We are team of IT professionals</p>
                </div>
                <a href="javascript:void(0)" ng-click="showPop=true; showPop1=false;showPop2=false;showPopup4=false">learn more</a>
                
                <div class="home-learn-more-popUp animated zoomIn" ng-show="showPop">
                    <span class="hmlpClose" ng-click="showPop=false"><i class="fa fa-close"></i></span>
                    <div class="home-learn-more-popUp-body">
                        <div>
                            <p>Our people are a group of young individuals who are driven by the passion to solve today’s problems with tomorrow’s technology. We are professional team who will stop at nothing to ensure our clients’ satisfaction.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_marketing-icom.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Advanced Marketing Technology</span>
                    <p>Leverage our platforms for your digital communication</p>
                </div>
                <a href="javascript:void(0)" ng-click="showPop2=true; showPop1=false;showPop=false;showPopup4=false">learn more</a>
                
                <div class="home-learn-more-popUp animated zoomIn" ng-show="showPop2">
                    <span class="hmlpClose" ng-click="showPop2=false"><i class="fa fa-close"></i></span>
                    <div class="home-learn-more-popUp-body">
                        <div>
                            <p>In today’s ever growing markets, the use of social and electronic media to educate people about products and services is the prudent way to go. Use our smart below the line advertisement tools to get your messages across to your customers.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_managementit-icon.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Managed Information Technology (MIT)</span>
                    <p>Miantain data resources both offline and online</p>
                </div>
                <a href="javascript:void(0)" ng-click="showPopup4=true;showPop2=false; showPop1=false;showPop=false">learn more</a>
                
                <div class="home-learn-more-popUp animated zoomIn" ng-show="showPopup4">
                    <span class="hmlpClose" ng-click="showPopup4=false"><i class="fa fa-close"></i></span>
                    <div class="home-learn-more-popUp-body">
                        <div>
                            <p>
                                    We are able to help you manage your huge and complex data sets within a well-structured cloud environment. Leverage our proactive database management responsibilities, functions as a strategic method for improving operations and reducing your expenses.
                           </p>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
    <div class="home-carousel-wrapper">
        <home-carosel></home-carosel>
    </div>
    
    <div class="home-fl-img-wrapper clearfix">
        <div class="home-fl-img-left">
            <div class="home-fl-img-left-cap">
                <h2>Digital Transformation</h2>
                <p>Be the change you want to see in your business, with a combination of highly advanced electronic processes and systems</p>
                <a href="">Learn More</a>
            </div>
        </div>
        <div class="home-fl-img-right">
            <div class="home-fl-img-right-img">
                <img src="public/images/digital_tranformation.png" alt="">
            </div>
        </div>
    </div>
    
    
    <div class="home-customer-msg">
        <div class="home-customer-msg-cap">
            <h3>Message To Customers</h3>
            <p> <b>"</b>We are driven to create extraordinary value, efficiency and competitive advantage for our clients through groundbreaking payment and technology services<b>"</b> </p>
        </div>
    </div>
    
    
<!--
    <div id="homeGrid" class="product-grid-wrapper">
        <h2 id="homeGridHead">Our Top Partners</h2>
        <div class="product-grid-container clearfix">
            <div class="product-grid clearfix">
                <div class="product-grid-top">
                    <div class="product-grid-img">
                        <img src="http://cdn2.insidermonkey.com/blog/wp-content/uploads/2012/12/mastercard.jpg" alt="">
                    </div>
                </div>
                <div class="product-grid-bottom">
                    <div class="product-grid-cap">
                        <h4>Mastercard</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="product-grid clearfix">
                <div class="product-grid-top">
                    <div class="product-grid-img">
                        <img src="http://citifmonline.com/wp-content/uploads/2017/05/ghana_post-600x330.jpg" alt="">
                    </div>
                </div>
                <div class="product-grid-bottom">
                    <div class="product-grid-cap">
                        <h4>Ghana Post</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="product-grid clearfix">
                <div class="product-grid-top">
                    <div class="product-grid-img">
                        <img src="http://www.livingwordwalkers.com/wp-content/uploads/2016/10/NTC-Logo.jpg" alt="">
                    </div>
                </div>
                <div class="product-grid-bottom">
                    <div class="product-grid-cap">
                        <h4>Ministry Of Education</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

    
            <div class="product-grid clearfix">
                <div class="product-grid-top">
                    <div class="product-grid-img">
                        <img src="public/images/cc2.png" alt="">
                    </div>
                </div>
                <div class="product-grid-bottom">
                    <div class="product-grid-cap">
                        <h4>API Gateway</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
-->
    
    <div class="home-testimonials">
        <h3>Our Top And Trusted Partners</h3>
       <testimonial-carousel></testimonial-carousel>
    </div>
    
<!--
    <div class="home-contact-link">
        <div class="home-contact-link-header">
            <h2>Find The Best Solution For Your Business</h2>
            <p>24/7 Support For All Tech Need</p>
        </div>
        <div class="home-contact-button">
            <a href="">Contact Us Now</a>
        </div>
    </div>
-->
    
    <div ng-include src="'views/includes/footer.html'">
        
    </div>
    
</div>