<div class="home-bg-wrapper">
    
    <div class="home-bg-caption">
        <h1 class="animated rubberBand">The Future Already Happened If You Are Seeing This Now, You Still Have Time To Catch Up.</h1>
        <p></p>
        <a href="">Get Started For Free</a>
    </div>
     
</div>


<div class="home-content">
    
    <div class="home-top-intro clearfix">
       
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_online-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>Online</h4>
                <p>Increase your businesses electronic payment acceptance by leveraging our secure online payment gateway</p>
            </div>
        </div>
        
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_store-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>In-Store</h4>
                <p>Maximize your store's potentials by offering swift payments for utilities, goods and services</p>
            </div>
        </div>
        
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_loyalty-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>Loyalty</h4>
                <p>Have your clients come back for more treats after making a lasting impression with our payment platforms</p>
            </div>
        </div>
        
        <div class="home-top-intro-float clearfix">
            <div class="home-top-intro-float-left">
                <img src="public/images/ome-web_dataanalytics-icon.png" alt="">
            </div>
            <div class="home-top-intro-float-right">
                <h4>Data & Analytics</h4>
                <p>Exam huge data sets and draw favourable conclutions using smart analytic tools</p>
            </div>
        </div>
        
    </div>
    
    <div class="home-section-wrapper">
        <div class="home-section-content clearfix">
           
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_partnership-icon.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Partnership</span>
                    <p>Lets work together</p>
                </div>
                <a href="">learn more</a>
            </div>
            
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_expert-icon.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Expert Team</span>
                    <p>We are team of IT professionals</p>
                </div>
                <a href="">learn more</a>
            </div>
            
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_marketing-icom.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Advanced Marketing Technology</span>
                    <p>Leverage our platforms for your digital communication</p>
                </div>
                <a href="">learn more</a>
            </div>
            
            <div class="home-section-pt">
                <div class="home-section-pt-img">
                    <img src="public/images/ome-web_managementit-icon.png" alt="">
                </div>
                <div class="home-section-pt-cap">
                    <span>Managed Information Technology (MIT)</span>
                    <p>Miantain resources offline and online</p>
                </div>
                <a href="">learn more</a>
            </div>
            
        </div>
    </div>
    
    <div class="home-carousel-wrapper">
        <home-carosel></home-carosel>
    </div>
    
    <div class="home-fl-img-wrapper clearfix">
        <div class="home-fl-img-left">
            <div class="home-fl-img-left-cap">
                <h2>Digital Transformation</h2>
                <p>Be the change you want to see, with a combination of highly advanced electronic processes and systems</p>
                <a href="">Learn More</a>
            </div>
        </div>
        <div class="home-fl-img-right">
            <div class="home-fl-img-right-img">
                <img src="https://ofoot.wsu.edu/Content/images/laptop-cellphone-screenshot.png" alt="">
            </div>
        </div>
    </div>
    
    
    <div class="home-customer-msg">
        <div class="home-customer-msg-cap">
            <h3>Message To Customers</h3>
            <p> <b>"</b>We are driven o create extraordinary value, efficiency and competitive advantage for our clients through groundbreaking payment and technology services<b>"</b> </p>
        </div>
    </div>
    
    <div class="home-testimonials">
        <h3>Our Top And Trusted Partners</h3>
       <testimonial-carousel></testimonial-carousel>
    </div>
    
<!--
    <div class="home-contact-link">
        <div class="home-contact-link-header">
            <h2>Find The Best Solution For Your Business</h2>
            <p>24/7 Support For All Tech Need</p>
        </div>
        <div class="home-contact-button">
            <a href="">Contact Us Now</a>
        </div>
    </div>
-->
    
    <div ng-include src="'views/includes/footer.html'">
        
    </div>
    
</div>