


<div class="spinner" ng-show="loader">
  <div class="ball"></div>
  <p>LOADING PLEASE WAIT..</p>
</div>



<div ng-hide="loader">
    
    <div class="products-bg-wrapper">

    <div class="products-bg-cap clearfix">

       <div class="products-bg-cap-left animated fadeInLeft">
           <h3>{{data.header}}</h3>
           <p>{{data.headerPrara}}</p>
           <a href="" class='pulse-button'>Get Started</a>
           <a href="" class='pulse-button pulse-transparent'>Sign Up</a>
       </div>

       <div class="products-bg-cap-right">
           <div class="products-bg-cap-right-img">
               <img ng-src="{{data.productsBgImg}}" alt="">
           </div>
       </div>        

    </div>

    </div>

    <div class="product-overview">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
    <!--                 <img src="http://deploy.meetingplay.com/marketing/landing/images/mockup/mockup.png" alt="">-->
                 <img ng-src="{{data.productOverview1Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview1Head}}</h3>
                 <p>{{data.productOverview1Para}}</p>
                 <a href="javascript:void(0)" ng-click="showVM=true">Learn More</a>
             </div>
         </div>
     </div>
    </div>

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>

    <div class="product-second-overview">

     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> {{data.productOverview2Head}}</h3>

                 <b>{{data.productOverview2HeadSub}}</b> <br>
                 <p>{{data.productOverview2Para}}</p>

                <a href="javascript:void(0)" ng-click="showVM2=true">Learn More</a>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="{{data.productOverview2Img}}" alt="">
             </div>
         </div>
     </div>

    </div>

    <!-- <div class="product-second-overview">

     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> QR Code Payment </h3>

                 <b>Masterpass</b> <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta veniam laboriosam rerum molestias illum eius assumenda libero maxime facere aut, natus architecto placeat, voluptate unde blanditiis! Voluptatem accusamus alias magni.</p>

                 <b>mVisa</b> <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eos, vitae. Iure mollitia beatae itaque labore, sequi? In molestiae, vel! Illum rerum neque porro, tempore dicta repellat deleniti earum iusto.</p>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="public/images/qrcode.png" alt="">
             </div>
         </div>
     </div>

    </div> -->

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>

    <div class="product-grid-wrapper">
    <div class="product-grid-container clearfix">
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://cdn2.insidermonkey.com/blog/wp-content/uploads/2012/12/mastercard.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Mastercard</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://citifmonline.com/wp-content/uploads/2017/05/ghana_post-600x330.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Ghana Post</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://www.livingwordwalkers.com/wp-content/uploads/2016/10/NTC-Logo.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Ministry Of Education</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    <!--
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    -->
    </div>
    </div>

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>


    <div ng-include src="'views/includes/footer.html'">

    </div>
    
    
</div>





<div class="view-more animated fadeInUp" ng-show="showVM">
    <div class="view-more-nav">

    </div>
   
    <div class="view-more-close">
    <i class="fa fa-close" ng-click="showVM=false"></i>
    </div>

   
    <div class="view-more-content">
       
       <div class="content-section clearfix">
           <div class="content-section-left">
               <div class="content-section-left-img">
                   <img src="https://d85ecz8votkqa.cloudfront.net/press/images/poynt-birds-eye-view.png" alt="">
               </div>
           </div>
           <div class="content-section-right">
               <div class="content-section-right-cap">
                   <h3>Smart Mobile POS</h3>
                   <p>All-in-one Android based system with multiple payments support</p>
                   <p>Our mobile POS is designed specifically to help you run your business better. A dedicated hardware that performs as good as it looks</p>
               </div>
           </div>
       </div>
       
       <div class="content-support clearfix">
          
           <div class="content-support-grid">
               <div class="content-support-grid-img">
                   <img src="public/images/payment-method.png" alt="">
               </div>
               <div class="content-support-cap">
                   <span>Mobile Money</span>
               </div>
           </div>
           
           <div class="content-support-grid">
               <div class="content-support-grid-img">
<!--                   <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/14944-200.png" alt="">-->
               <img src="public/images/leather-wallet.png" alt="">
               </div>
               <div class="content-support-cap">
                   <span>E-WALLETS</span>
               </div>
           </div>
           
           <div class="content-support-grid">
               <div class="content-support-grid-img">
                   <img src="public/images/credit-carde.png" alt="">
               </div>
               <div class="content-support-cap">
                   <span>DEBIT/CREDIT CARDS</span>
               </div>
           </div>
           
           <div class="content-support-grid">
               <div class="content-support-grid-img">
                   <img src="public/images/qr-code.png" alt="">
               </div>
               <div class="content-support-cap">
                   <span>QR CODE</span>
               </div>
           </div>
           
       </div>
       
       
       <div class="content-ending clearfix">
          
           <div class="content-ending-header">
               <h2>Hardware Highlights</h2>
           </div>
           
           <div class="content-ending-body clearfix">
               <div class="content-ending-body-grid">
                   <div class="content-ending-body-grid-icon">
                       <img src="public/images/android.png" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>ANDROID SUPPORT</h4>
                       <p>Secure and customizable Android operating system</p>
                   </div>
               </div>
               
               <div class="content-ending-body-grid">
                   <div class="content-ending-body-grid-icon">
                       <img src="public/images/shield.png" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>SAFE AND SECURED</h4>
                       <p>Advance security for PCI compliance</p>
                   </div>
               </div>
               
               <div class="content-ending-body-grid">
                   <div class="content-ending-body-grid-icon">
                       <img src="public/images/4g-technology-symbol.png" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>WIFI & 4G LTE</h4>
                       <p>Supports 4G LTE and Wi-Fi for fast transaction confirmation</p>
                   </div>
               </div>
               
               <div class="content-ending-body-grid">
                   <div class="content-ending-body-grid-icon">
                       <img src="public/images/battery.png" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>BATTERY</h4>
                       <p>2000 mAh battery with reserve 150mAh lasts whole day</p>
                   </div>
               </div>
               
               <div class="content-ending-body-grid">
                   <div class="content-ending-body-grid-icon">
                       <img src="public/images/placeholder.png" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>GPS TRACKING</h4>
                       <p>GPS system for location tracking field agents & staff</p>
                   </div>
               </div>
               
               <div class="content-ending-body-grid">
                   <div class="content-ending-body-grid-icon">
                       <img src="public/images/printer.png" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>PRINTER</h4>
                       <p>Built-in thermal Printer for issuing receipts</p>
                   </div>
               </div>
               
           </div>
       </div>
       
<!--
       
        <h1 style="margin-top:2000px;"> showVM2 Header</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus est, et quasi enim excepturi eius similique tenetur ea laudantium saepe iure, harum reiciendis ratione ut nesciunt maxime ipsa debitis fuga.</p>
-->
        
    </div>
    
</div>