


<div class="spinner" ng-show="loader">
  <div class="ball"></div>
  <p>LOADING PLEASE WAIT..</p>
</div>


<div ng-hide="loader">
    
    <div class="products-bg-wrapper">

    <div class="products-bg-cap clearfix">

       <div class="products-bg-cap-left animated fadeInLeft">
           <h3>{{data.header}}</h3>
           <p>{{data.headerPrara}}</p>
           <a href="" class='pulse-button'>Get Started</a>
           <a href="" class='pulse-button pulse-transparent'>Sign Up</a>
       </div>

       <div class="products-bg-cap-right">
           <div class="products-bg-cap-right-img">
               <img ng-src="{{data.productsBgImg}}" alt="">
           </div>
       </div>        

    </div>

    </div>

    <div class="product-overview">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
                 <img ng-src="{{data.productOverview1Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview1Head}}</h3>
                 <p>{{data.productOverview1Para}}</p>
                 <a href="javascript:void(0)" ng-click="showVM=true">Learn More</a>
             </div>
         </div>
     </div>
    </div>

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>

    <div class="product-second-overview">

     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> {{data.productOverview2Head}}</h3>

                 <b>{{data.productOverview2HeadSub}}</b> <br>
                 <p>{{data.productOverview2Para}}</p>

                <a href="javascript:void(0)" ng-click="showVM2=true">Learn More</a>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="{{data.productOverview2Img}}" alt="">
             </div>
         </div>
     </div>

    </div>

    <!-- <div class="product-second-overview">

     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> QR Code Payment </h3>

                 <b>Masterpass</b> <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta veniam laboriosam rerum molestias illum eius assumenda libero maxime facere aut, natus architecto placeat, voluptate unde blanditiis! Voluptatem accusamus alias magni.</p>

                 <b>mVisa</b> <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eos, vitae. Iure mollitia beatae itaque labore, sequi? In molestiae, vel! Illum rerum neque porro, tempore dicta repellat deleniti earum iusto.</p>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="public/images/qrcode.png" alt="">
             </div>
         </div>
     </div>

    </div> -->

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>
    
     <div class="home-testimonials">
        <h3>Our Top And Trusted Partners</h3>
       <testimonial-carousel></testimonial-carousel>
    </div>

<!--
    <div class="product-grid-wrapper">
    <div class="product-grid-container clearfix">
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://cdn2.insidermonkey.com/blog/wp-content/uploads/2012/12/mastercard.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Mastercard</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://citifmonline.com/wp-content/uploads/2017/05/ghana_post-600x330.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Ghana Post</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://www.livingwordwalkers.com/wp-content/uploads/2016/10/NTC-Logo.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Ministry Of Education</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    
    </div> 
    </div>
-->

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>


    <div ng-include src="'views/includes/footer.html'">

    </div>
    
    
</div>





<div class="view-more animated fadeInUp" ng-show="showVM">
   
    <div class="view-more-close">
    <i class="fa fa-close" ng-click="showVM=false"></i>
    </div>

    <div class="view-more-content">
       
       <div class="content-section clearfix">
          
           <div class="content-section-left clearfix">
              
               <div class="view-more-controls">
                   
                   <a href="javascript:void(0)" ng-click="showFirst=true;showSecond=false;"><img src="{{data.show1}}" alt=""></a>
                   <a href="javascript:void(0)" ng-click="showSecond=true;showFirst=false;"><img src="{{data.show2}}" alt=""></a>
                   
               </div>
               
               <div class="content-section-left-img">
                   <img ng-src="{{data.viewMoreOneBigImg}}" ng-show="showFirst" alt="">
                   <img ng-src="{{data.viewMoreBigImg2}}" ng-show="showSecond" alt="">
               </div>
               
           </div>
           <div class="content-section-right">
               <div class="content-section-right-cap">
                   <h3>{{data.viewMoreOneBigCapHead}}</h3>
                   <p>{{data.viewMoreOneBigCapPara1}}</p>
                   <p>{{data.viewMoreOneBigCapPara2}}</p>
               </div>
           </div>
       </div>
       
       <div class="content-support clearfix">
          
           <div class="content-support-grid" ng-repeat="item in data.viewMoreOneSupport">
               <div class="content-support-grid-img">
                   <img ng-src="{{item.img}}" alt="">
               </div>
               <div class="content-support-cap">
                   <span>{{item.name}}</span>
               </div>
           </div>
           
       </div>
       
       
       <div  class="content-ending clearfix">
          
           <div class="content-ending-header">
               <h2>{{data.viewMoreOneEndingHead}}</h2>
           </div>
           
           <div class="content-ending-body clearfix">
              
               <div class="content-ending-body-grid" ng-repeat="item in data.viewMoreOneEndingBody">
                   <div class="content-ending-body-grid-icon">
                       <img ng-src="{{item.img}}" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>{{item.name}}</h4>
                       <p>{{item.para}}</p>
                   </div>
               </div>
               
           </div>
       </div>
       
       <div class="content-listings">
           <div class="conent-listing-wrap">
               <h2>Benefits</h2>
               <ul>
                   <li ng-repeat="item in data.viewMoreListings">{{item.list}}</li>
               </ul>
           </div>
       </div>
        
    </div>
    
    <div class="view-more-back">
        <a href="javascript:void(0)" ng-click="showVM=false">Go Back</a>
    </div>
    
</div>



<div class="view-more animated fadeInUp" ng-show="showVM2">
   
    <div class="view-more-close">
    <i class="fa fa-close" ng-click="showVM2=false"></i>
    </div>

    <div class="view-more-content">
       
       <div class="content-section clearfix">
          
           <div class="content-section-left clearfix">
             
              <div class="view-more-controls">
                   
                   <a href="javascript:void(0)" ng-click="showFirst2=true;showSecond2=false;"><img src="{{data.show3}}" alt=""></a>
                   <a href="javascript:void(0)" ng-click="showSecond2=true;showFirst2=false;"><img src="{{data.show4}}" alt=""></a>
                   
               </div>
               
               <div class="content-section-left-img">
                   <img ng-src="{{data.viewMoreTwoBigImg}}" ng-show="showFirst2" alt="">
                   <img ng-show="showSecond2" src="{{data.viewMoreTwoBigImg2}}" alt="">
               </div>
           </div>
           <div class="content-section-right">
               <div class="content-section-right-cap">
                   <h3>{{data.viewMoreTwoBigCapHead}}</h3>
                   <p>{{data.viewMoreTwoBigCapPara1}}</p>
                   <p>{{data.viewMoreTwoBigCapPara2}}</p>
               </div>
           </div>
       </div>
       
       <div class="content-support clearfix">
          
           <div class="content-support-grid" ng-repeat="item in data.viewMoreTwoSupport">
               <div class="content-support-grid-img">
                   <img ng-src="{{item.img}}" alt="">
               </div>
               <div class="content-support-cap">
                   <span>{{item.name}}</span>
               </div>
           </div>
           
       </div>
       
       
       <div class="content-ending clearfix">
          
           <div class="content-ending-header">
               <h2>{{data.viewMoreTwoEndingHead}}</h2>
           </div>
           
           <div class="content-ending-body clearfix">
              
               <div class="content-ending-body-grid" ng-repeat="item in data.viewMoreTwoEndingBody">
                   <div class="content-ending-body-grid-icon">
                       <img ng-src="{{item.img}}" alt="">
                   </div>
                   <div class="content-ending-body-grid-cap">
                       <h4>{{item.name}}</h4>
                       <p>{{item.para}}</p>
                   </div>
               </div>
               
           </div>
       </div>
        
    </div>
    
    <div class="view-more-back">
        <a href="javascript:void(0)" ng-click="showVM2=false">Go Back</a>
    </div>
    
</div>