


<div class="spinner" ng-show="loader">
  <div class="ball"></div>
  <p>LOADING PLEASE WAIT..</p>
</div>



<div ng-hide="loader">
    
    <div class="products-bg-wrapper">

    <div class="products-bg-cap clearfix">

       <div class="products-bg-cap-left animated fadeInLeft">
           <h3>{{data.header}}</h3>
           <p>{{data.headerPrara}}</p>
           <a href="" class='pulse-button'>Get Started</a>
           <a href="" class='pulse-button pulse-transparent'>Sign Up</a>
       </div>

       <div class="products-bg-cap-right">
           <div class="products-bg-cap-right-img">
               <img ng-src="{{data.productsBgImg}}" alt="">
           </div>
       </div>        

    </div>

    </div>

    <div class="product-overview">     
     <div class="product-overview-info-wrap clearfix">
         <div class="product-overview-left">
             <div class="product-overview-left-img">
    <!--                 <img src="http://deploy.meetingplay.com/marketing/landing/images/mockup/mockup.png" alt="">-->
                 <img ng-src="{{data.productOverview1Img}}" alt="">
             </div>
         </div>
         <div class="product-overview-right">
             <div class="product-overview-right-cap">
                <h3>{{data.productOverview1Head}}</h3>
                 <p>{{data.productOverview1Para}}</p>
                 <a href="javascript:void(0)" ng-click="showVM=true">Learn More</a>
             </div>
         </div>
     </div>
    </div>

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>

    <div class="product-second-overview">

     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> {{data.productOverview2Head}}</h3>

                 <b>{{data.productOverview2HeadSub}}</b> <br>
                 <p>{{data.productOverview2Para}}</p>

             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="{{data.productOverview2Img}}" alt="">
             </div>
         </div>
     </div>

    </div>

    <!-- <div class="product-second-overview">

     <div class="product-second-overview-wrap clearfix">
         <div class="product-second-overview-left">
            <div class="product-second-overview-left-cap">
                <h3> QR Code Payment </h3>

                 <b>Masterpass</b> <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta veniam laboriosam rerum molestias illum eius assumenda libero maxime facere aut, natus architecto placeat, voluptate unde blanditiis! Voluptatem accusamus alias magni.</p>

                 <b>mVisa</b> <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eos, vitae. Iure mollitia beatae itaque labore, sequi? In molestiae, vel! Illum rerum neque porro, tempore dicta repellat deleniti earum iusto.</p>
             </div>
         </div>
         <div class="product-second-overview-right">
             <div class="product-second-overvie-left-img">
                 <img src="public/images/qrcode.png" alt="">
             </div>
         </div>
     </div>

    </div> -->

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>

    <div class="product-grid-wrapper">
    <div class="product-grid-container clearfix">
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://cdn2.insidermonkey.com/blog/wp-content/uploads/2012/12/mastercard.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Mastercard</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://citifmonline.com/wp-content/uploads/2017/05/ghana_post-600x330.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Ghana Post</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="http://www.livingwordwalkers.com/wp-content/uploads/2016/10/NTC-Logo.jpg" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>Ministry Of Education</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    <!--
        <div class="product-grid clearfix">
            <div class="product-grid-top">
                <div class="product-grid-img">
                    <img src="public/images/cc2.png" alt="">
                </div>
            </div>
            <div class="product-grid-bottom">
                <div class="product-grid-cap">
                    <h4>API Gateway</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    -->
    </div>
    </div>

    <div class="" style="background: radial-gradient(circle farthest-corner at right bottom,#ffd08a 0,#ffa376 28%,#d26578 52%,#682a84 79%,#241668 100%); height: 10px;">    
    </div>


    <div ng-include src="'views/includes/footer.html'">

    </div>
    
    
</div>





<div class="view-more animated fadeInUp" ng-show="showVM">
  <div class="view-more-nav">
      
  </div>
   
   <div class="view-more-close">
       <i class="fa fa-close" ng-click="showVM=false"></i>
   </div>
    
    <h1 style="margin-top:2000px;">Header</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus est, et quasi enim excepturi eius similique tenetur ea laudantium saepe iure, harum reiciendis ratione ut nesciunt maxime ipsa debitis fuga.</p>
    
</div>