    
<div class="our-products-banner" style="background:{{data.bgColor}};">
   
   <div class="our-products-cap">
       <h1>{{data.bgHeade}}</h1>
       <p>{{data.bgPara}}</p>
   </div>
    
</div>


<div class="our-products-section clearfix" ng-repeat="item in data.section">
    
    <div class="our-products-section-left">
        <img ng-src="{{item.img}}" alt="">
    </div>
    <div class="our-products-section-right">
        <h2>{{item.h2}}</h2>
        
        <div ng-repeat="stuff in item.para">
            <h4>{{stuff.h4}}</h4>
            <p>{{stuff.p}}</p>
        </div>
        
    </div>
    
</div>


<div ng-include src="'views/includes/footer.html'">
        
</div>
    


<!--linear-gradient(-261deg,#0d4280 24%,#2473d1 61%,#124e95 94%)-->